<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bind data with component</title>
    <script src="../../javascript/vue1.js"></script>
</head>
<body>
    <div id="app">
        <div id="searchBar">
            Search <input type="text" v-model="searchQuery">
        </div>
            <simple-grid :grid-columns="gridColumns" :grid-data="gridData" :filter-key="searchQuery"></simple-grid>
    </div>
    <template id="gridTemplate">
        <table>
            <thead>
                <tr>
                    <th v-for="gridColumn in gridColumns">
                        {{ gridColumn | capitalize }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="data in gridData | filterBy filterKey">
                    <td v-for="gridColumn in gridColumns">
                        {{ data[gridColumn] }}
                    </td>
                </tr>
            </tbody>
        </table>
    </template>
    <script>
        Vue.component('simple-grid',{
            template: '#gridTemplate',
            props: {
                gridColumns : Array, // props verify
                gridData : Array,
                filterKey: String
            }
        });

        var vm = new Vue({
            el: '#app',
            data: {
                searchQuery: '',
                gridColumns: ['name','age','sex'],
                gridData: [{
                    name: 'Sam',
                    age: 23,
                    sex:'male'
                },{
                    name: 'Lucy',
                    age: 24,
                    sex: 'female'
                },{
                    name: 'Nazi',
                    age: 25,
                    sex: 'male'
                },{
                    name: 'Jimy',
                    age: 26,
                    sex: 'female'
                }]
            }
        });
    </script>
</body>
</html>
