<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理名字列表</title>
    <script src="http://cdn.bootcss.com/vue/1.0.15/vue.js"></script>
</head>
<body>
    <div id="app">
        <fieldset>
            Create New Person
            <div>
                <label for="">Name:</label>
                <input type="text" v-model="newPerson.name" />
            </div>
            <div>
                <label for="">Age:</label>
                <input type="text" v-model="newPerson.age" />
            </div>
            <div>
                <label for="">Sex:</label>
                <select name="" id="" v-model="newPerson.sex">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div>
                <button @click="createPerson">Create</button>
            </div>
        </fieldset>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Sex</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="person in persons">
                    <td>{{ person.name }}</td>
                    <td>{{ person.age }}</td>
                    <td>{{ person.sex }}</td>
                    <td :class="text-center"><button @click="deletePerson($index)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        var vm = new Vue({
            el:'#app',
            data : {
                newPerson : {
                    name:'',
                    age : Math.random()*100,
                    sex:'Male'
                },
                persons: [{
                    name: 'Jack',
                    age: 23
                    sex: 'Male'
                },{
                    name: 'Sam',
                    age: 24,
                    sex'Male'
                },{
                    name: 'Lily',
                    age: 25,
                    sex: 'Female'
                }]
            },
            methods: {
                createPerson : function() {
                    this.persons.push(this.newPerson);
                    //clear the default value
                    this.newPerson = {name: '',age: 0, sex:'Male'};
                },
                deletePerson :function (index) {
                    //删除一个数组元素
                    this.persons.splice(index,1);
                }
            }
        });
    </script>
</body>
</html>